<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/golon/05-03-2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
import pandas as pd

df = pd.read_csv("train.csv")
df.head()

<ipython-input-86-f7671a9d0187>:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [87]:
df.drop_duplicates(inplace=True)

In [88]:
df.shape

(100000, 28)

In [89]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [90]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('Int64')
df['Month'] = pd.to_numeric(df['Month'], errors='coerce').astype('string')
df['Annual_Income'] = pd.to_numeric(df['Annual_Income'], errors='coerce').astype('float64')
df['Num_of_Loan'] = pd.to_numeric(df['Num_of_Loan'], errors='coerce').astype('Int64')
df['Num_of_Delayed_Payment'] = pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce').astype('Int64')
df['Changed_Credit_Limit'] = pd.to_numeric(df['Changed_Credit_Limit'], errors='coerce').astype('float64')
df['Outstanding_Debt'] = pd.to_numeric(df['Outstanding_Debt'], errors='coerce').astype('float64')
df['Amount_invested_monthly'] = pd.to_numeric(df['Amount_invested_monthly'], errors='coerce').astype('float64')
df['Monthly_Balance'] = pd.to_numeric(df['Monthly_Balance'], errors='coerce').astype('float64')

In [91]:
df = df.drop(["ID", "Customer_ID", "Name", "SSN"], axis=1)

In [92]:
df.dtypes

Month                        string
Age                           Int64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                   Int64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment        Int64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [93]:
czy_puste_wartosci_w_kolumnach = df.isnull().any()
print(czy_puste_wartosci_w_kolumnach)

Month                        True
Age                          True
Occupation                  False
Annual_Income                True
Monthly_Inhand_Salary        True
Num_Bank_Accounts           False
Num_Credit_Card             False
Interest_Rate               False
Num_of_Loan                  True
Type_of_Loan                 True
Delay_from_due_date         False
Num_of_Delayed_Payment       True
Changed_Credit_Limit         True
Num_Credit_Inquiries         True
Credit_Mix                  False
Outstanding_Debt             True
Credit_Utilization_Ratio    False
Credit_History_Age           True
Payment_of_Min_Amount       False
Total_EMI_per_month         False
Amount_invested_monthly      True
Payment_Behaviour           False
Monthly_Balance              True
Credit_Score                False
dtype: bool

In [94]:
df['Age'] = df['Age'].fillna(df['Age'].mean().round())
df['Annual_Income'] = df['Annual_Income'].fillna(df['Age'].mean())
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(df['Monthly_Inhand_Salary'].mean())
df['Num_of_Loan'] = df['Num_of_Loan'].fillna(df['Num_of_Loan'].mean().round())
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna(0)
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].fillna(df['Changed_Credit_Limit'].mean())
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(df['Num_Credit_Inquiries'].mean())
df['Outstanding_Debt'] = df['Outstanding_Debt'].fillna(df['Outstanding_Debt'].mean())
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].fillna(df['Amount_invested_monthly'].mean())
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(df['Monthly_Balance'].mean())

In [95]:
df.dropna(subset=['Type_of_Loan'], inplace=True)
df.dropna(subset=['Credit_History_Age'], inplace=True)

In [96]:
mean_age = df[df['Age'] >= 0]['Age'].mean()
df.loc[df['Age'] < 0, 'Age'] = mean_age.round()
df.loc[df['Age'] > 130, 'Age'] = mean_age.round()
df['Month'] = df['Month'].fillna("January")

In [101]:
df.head(50)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,Scientist,1.911412e+04,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
2,January,116,Scientist,1.911412e+04,4194.170850,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,January,23,Scientist,1.911412e+04,4194.170850,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,January,23,Scientist,1.911412e+04,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,January,23,Scientist,1.911412e+04,4194.170850,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172,!@9#%8,340.479212,Good
6,January,23,Scientist,1.911412e+04,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
8,January,111,_______,3.484784e+04,3037.986667,2,4,6,1,Credit-Builder Loan,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
9,January,28,Teacher,3.484784e+04,3037.986667,2,4,6,1,Credit-Builder Loan,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good
10,January,28,Teacher,1.109377e+02,3037.986667,2,1385,6,1,Credit-Builder Loan,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard
11,January,28,Teacher,3.484784e+04,4194.170850,2,4,6,1,Credit-Builder Loan,...,Good,605.03,39.182656,26 Years and 10 Months,No,18.816215,99.306228,Low_spent_Medium_value_payments,465.676224,Good
12,January,28,Teacher,3.484784e+04,3037.986667,2,4,6,1,Credit-Builder Loan,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.115420,Low_spent_Small_value_payments,444.867032,Good
13,January,28,Teacher,3.484784e+04,3037.986667,2,4,6,1,Credit-Builder Loan,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190,High_spent_Large_value_payments,481.505262,Good
14,January,28,Teacher,3.484784e+04,4194.170850,2,4,6,1,Credit-Builder Loan,...,Good,605.03,31.131702,27 Years and 1 Months,NM,18.816215,70.101774,High_spent_Medium_value_payments,464.880678,Good
15,January,28,Teacher,3.484784e+04,3037.986667,2,4,6,1,Credit-Builder Loan,...,Good,605.03,32.933856,27 Years and 2 Months,No,18.816215,218.904344,Low_spent_Small_value_payments,356.078109,Good
16,January,34,_______,1.431626e+05,12187.220000,1,5,8,3,"Auto Loan, Auto Loan, and Not Specified",...,Good,1303.01,28.616735,17 Years and 9 Months,No,246.992319,168.413703,!@9#%8,1043.315978,Good
17,January,34,Engineer,1.431626e+05,12187.220000,1,5,8,3,"Auto Loan, Auto Loan, and Not Specified",...,Good,1303.01,41.702573,17 Years and 10 Months,No,246.992319,232.860384,High_spent_Small_value_payments,998.869297,Good
18,January,34,_______,1.431626e+05,4194.170850,1,5,8,3,"Auto Loan, Auto Loan, and Not Specified",...,Good,1303.01,26.519815,17 Years and 11 Months,No,246.992319,195.539456,High_spent_Small_value_payments,715.741367,Good
20,January,34,_______,1.431626e+05,12187.220000,1,5,8,3,"Auto Loan, Auto Loan, and Not Specified",...,Good,1303.01,31.376150,18 Years and 1 Months,No,246.992319,430.947528,Low_spent_Large_value_payments,810.782153,Good
21,January,34,Engineer,1.431626e+05,12187.220000,1,5,8,967,"Auto Loan, Auto Loan, and Not Specified",...,Good,1303.01,39.783993,18 Years and 2 Months,No,246.992319,257.808099,High_spent_Medium_value_payments,963.921581,Good
22,January,34,Engineer,1.431626e+05,12187.220000,1,5,8,3,"Auto Loan, Auto Loan, and Not Specified",...,Good,1303.01,38.068624,18 Years and 3 Months,No,246.992319,263.174163,High_spent_Small_value_payments,968.555517,Standard
23,January,34,Engineer,1.431626e+05,12187.220000,1,5,8,3,"Auto Loan, Auto Loan, and Not Specified",...,Good,1303.01,38.374753,18 Years and 4 Months,No,246.992319,195.539456,High_spent_Small_value_payments,895.494583,Standard
24,January,54,Entrepreneur,3.068989e+04,2612.490833,2,5,4,1,Not Specified,...,Good,632.46,26.544229,17 Years and 3 Months,No,16.415452,81.228859,Low_spent_Large_value_payments,433.604773,Standard
25,January,54,Entrepreneur,3.068989e+04,2612.490833,2,5,4,1,Not Specified,...,Good,632.46,35.279982,17 Years and 4 Months,No,16.415452,124.881820,Low_spent_Small_value_payments,409.951812,Standard
26,January,55,Entrepreneur,3.068989e+04,2612.490833,2,5,4,1,Not Specified,...,Good,632.46,32.301163,17 Years and 5 Months,NM,16.415452,83.406509,High_spent_Medium_value_payments,411.427123,Standard
27,January,55,Entrepreneur,1.109377e+02,2612.490833,2,5,4,1,Not Specified,...,Good,632.46,38.132348,17 Years and 6 Months,No,16.415452,272.334037,Low_spent_Small_value_payments,262.499594,Standard
28,January,55,Entrepreneur,3.068989e+04,2612.490833,2,5,4,1,Not Specified,...,Good,632.46,41.154317,17 Years and 7 Months,No,16.415452,195.539456,Low_spent_Large_value_payments,359.374916,Standard
29,January,55,_______,3.068989e+04,2612.490833,2,5,4,1,Not Specified,...,_,632.46,27.445422,17 Years and 8 Months,No,16.415452,84.952848,High_spent_Small_value_payments,419.880784,Standard
30,January,55,Entrepreneur,3.068989e+04,2612.490833,2,5,4,1,Not Specified,...,Good,632.46,26.056395,17 Years and 9 Months,No,16.415452,71.283675,Low_spent_Large_value_payments,443.549957,Standard
31,January,55,Entrepreneur,3.068989e+04,2612.490833,2,5,4,-100,Not Specified,...,Good,632.46,27.332515,17 Years and 10 Months,No,16.415452,125.617251,High_spent_Small_value_payments,379.216381,Standard
48,January,33,Lawyer,1.313134e+05,11242.783333,0,1,8,2,"Credit-Builder Loan, and Mortgage Loan",...,Good,352.16,32.200509,30 Years and 7 Months,NM,137.644605,378.171254,High_spent_Medium_value_payments,858.462474,Good
49,January,34,Lawyer,1.313134e+05,11242.783333,0,1,8,2,"Credit-Builder Loan, and Mortgage Loan",...,Good,352.16,31.983710,30 Years and 8 Months,No,137.644605,698.873271,High_spent_Small_value_payments,547.760457,Good
50,January,34,Lawyer,1.313134e+05,10469.207759,0,1,8,2,"Credit-Builder Loan, and Mortgage Loan",...,Good,352.16,31.803134,30 Years and 9 Months,NM,911.220179,188.064321,High_spent_Large_value_payments,1038.569407,Good
51,January,34,Lawyer,1.313134e+05,10469.207759,0,1,8,2,"Credit-Builder Loan, and Mortgage Loan",...,Good,352.16,42.645785,30 Years and 10 Months,No,23834.000000,337.434956,High_spent_Medium_value_payments,899.198772,Good
52,January,34,Lawyer,1.313134e+05,10469.207759,0,1,8,2,"Credit-Builder Loan, and Mortgage Loan",...,Good,352.16,40.902517,30 Years and 11 Months,No,32662.000000,263.378909,High_spent_Large_value_payments,963.254819,Good
53,January,34,Lawyer,1.313134e+05,4194.170850,0,1,8,-100,"Credit-Builder Loan, and Mortgage Loan",...,Good,352.16,41.980170,31 Years and 0 Months,No,911.220179,86.566388,High_spent_Large_value_payments,1140.067340,Standard
54,January,111,Lawyer,1.090943e+07,4194.170850,0,1,8,2,"Credit-Builder Loan, and Mortgage Loan",...,Good,352.16,26.947565,31 Years and 1 Months,No,911.220179,930.391898,!@9#%8,326.241830,Good
55,January,34,Lawyer,1.313134e+05,10469.207759,0,1,8,2,"Credit-Builder Loan, and Mortgage Loan",...,Good,352.16,29.187913,31 Years and 2 Months,No,911.220179,870.522382,Low_spent_Medium_value_payments,396.111346,Good
57,January,30,Media_Manager,3.408138e+04,2611.115000,8,7,15,3,"Not Specified, Auto Loan, and Student Loan",...,_,1704.18,35.171160,14 Years and 8 Months,Yes,70.478333,38.436983,High_spent_Large_value_payments,392.196185,Poor
58,January,111,Media_Manager,3.408138e+04,4194.170850,8,7,15,3,"Not Specified, Auto Loan, and Student Loan",...,Standard,1704.18,35.111552,14 Years and 9 Months,Yes,70.478333,199.720765,Low_spent_Large_value_payments,260.912402,Poor
59,January,30,_______,3.408138e+04,2611.115000,8,7,15,3,"Not Specified, Auto Loan, and Student Loan",...,_,1704.18,29.762159,14 Years and 10 Months,Yes,70.478333,220.552192,Low_spent_Small_value_payments,260.080975,Poor
60,January,30,_______,3.408138e+04,2611.115000,8,7,15,3,"Not Specified, Auto Loan, and Student Loan",...,_,1704.18,30.206214,14 Years and 11 Months,Yes,70.478333,195.539456,High_spent_Large_value_payments,397.228355,Standard
61,January,30,Media_Manager,3.408138e+04,2611.115000,8,7,15,-100,"Not Specified, Auto Loan, and Student Loan",...,Standard,1704.18,31.170872,15 Years and 0 Months,Yes,70.478333,195.539456,!@9#%8,410.674366,Standard
62,January,30,Media_Manager,3.408138e+04,4194.170850,8,7,15,3,"Not Specified, Auto Loan, and Student Loan",...,Standard,1704.18,38.438505,15 Years and 1 Months,NM,70.478333,55.459781,High_spent_Small_value_payments,395.173387,Standard
63,January,30,Media_Manager,3.408138e+04,2611.115000,8,7,15,3,"Not Specified, Auto Loan, and Student Loan",...,_,1704.18,33.823488,15 Years and 2 Months,Yes,70.478333,29.326364,High_spent_Medium_value_payments,411.306804,Poor
64,January,23,Doctor,1.148384e+05,9843.867500,2,5,7,-100,"Personal Loan, Debt Consolidation Loan, and Au...",...,Good,1377.74,33.664554,21 Years and 4 Months,No,226.892792,215.193516,High_spent_Small_value_payments,802.300442,Good
65,January,23,Doctor,1.148384e+05,9843.867500,2,5,7,3,"Personal Loan, Debt Consolidation Loan, and Au...",...,Good,1377.74,27.626325,21 Years and 5 Months,NM,226.892792,212.235602,High_spent_Large_value_payments,785.258356,Good
66,January,23,Doctor,1.109377e+02,4194.170850,2,5,7,3,"Personal Loan, Debt Consolidation Loan, and Au...",...,Good,1377.74,35.141567,21 Years and 6 Months,NM,226.892792,470.385796,High_spent_Small_value_payments,547.108162,Good
67,January,23,Doctor,1.148384e+05,4194.170850,2,5,7,3,"Personal Loan, Debt Consolidation Loan, and Au...",...,Good,1377.74,30.459032,21 Years and 7 Months,No,226.892792,225.082049,!@9#%8,772.411909,Good
68,January,23,Doctor,1.148384e+05,9843.867500,2,5,7,3,"Personal Loan, Debt Consolidation Loan, and Au...",...,Good,1377.74,29.819187,21 Years and 8 Months,No,226.892792,649.809364,High_spent_Small_value_payments,367.684594,Standard
69,January,24,Doctor,1.148384e+05,9843.867500,2,5,7,3,"Personal Loan, Debt Consolidation Loan, and Au...",...,_,1377.74,26.114214,21 Years and 9 Months,NM,226.892792,546.380571,!@9#%8,491.113388,Good