<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/paziewski/lab2_05-03-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
#zaczytaj dane z pliku csv
df_train = pd.read_csv("/content/sample_data/train.csv", sep = "," , encoding= 'utf-8')

#wyświetl część tabeli
df_train.head()
#usuń wiersze z duplikatami id
df_train.drop_duplicates(subset="ID", inplace=True)
df = df_train

In [ ]:
#opisz statystyki danych
df.describe()
#zlicz różne wartości danych
for i in df.columns:
  print(df[i].value_counts())
  print('*'*50)
# pokaż liczności danych kategorycznych
sns.countplot(df['Credit_Score'])

In [ ]:
df.info()
#zmień dane na numeryczne
FeaturesToConvert = ['Age','Annual_Income','Num_of_Loan','Num_of_Delayed_Payment','Changed_Credit_Limit','Outstanding_Debt','Amount_invested_monthly','Monthly_Balance']
# ale najpierw sprawdź czy nie ma błędów w danych
for feature in FeaturesToConvert:
  uniques = df[feature].unique()
# usuń zbędne znaki '-’ , '_'
for feature in FeaturesToConvert:
  df[feature] = df[feature].str.strip('-_')
# puste kolumny zastąp NAN
for feature in FeaturesToConvert:
  df[feature] = df[feature].replace({'':np.nan})
# zmien typ zmiennych ilościowych
for feature in FeaturesToConvert:
  df[feature] = df[feature].astype('float64')
#uzupełnij braki średnią
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(df['Monthly_Inhand_Salary'].mean())

In [32]:
df.drop(columns=['ID', 'Customer_ID', 'Name', 'SSN'], inplace=True)

In [35]:
# stwórz obiekt enkodera
le = LabelEncoder()
df.Occupation = le.fit_transform(df.Occupation)
# sprawdź transformacje
df.head(20)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23.0,12,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,February,23.0,12,19114.12,4194.170850,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,March,500.0,12,19114.12,4194.170850,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,April,23.0,12,19114.12,4194.170850,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,May,23.0,12,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,June,23.0,12,19114.12,4194.170850,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172,!@9#%8,340.479212,Good
6,July,23.0,12,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,August,23.0,12,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,23.933795,NaN,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard
8,January,28.0,15,34847.84,3037.986667,2,4,6,1.0,Credit-Builder Loan,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard
9,February,28.0,13,34847.84,3037.986667,2,4,6,1.0,Credit-Builder Loan,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good
10,March,28.0,13,34847.84,3037.986667,2,1385,6,1.0,Credit-Builder Loan,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.515976,High_spent_Large_value_payments,466.466476,Standard
11,April,28.0,13,34847.84,4194.170850,2,4,6,1.0,Credit-Builder Loan,...,Good,605.03,39.182656,26 Years and 10 Months,No,18.816215,99.306228,Low_spent_Medium_value_payments,465.676224,Good
12,May,28.0,13,34847.84,3037.986667,2,4,6,1.0,Credit-Builder Loan,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.115420,Low_spent_Small_value_payments,444.867032,Good
13,June,28.0,13,34847.84,3037.986667,2,4,6,1.0,Credit-Builder Loan,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190,High_spent_Large_value_payments,481.505262,Good
14,July,28.0,13,34847.84,4194.170850,2,4,6,1.0,Credit-Builder Loan,...,Good,605.03,31.131702,27 Years and 1 Months,NM,18.816215,70.101774,High_spent_Medium_value_payments,464.880678,Good
15,August,28.0,13,34847.84,3037.986667,2,4,6,1.0,Credit-Builder Loan,...,Good,605.03,32.933856,27 Years and 2 Months,No,18.816215,218.904344,Low_spent_Small_value_payments,356.078109,Good
16,January,34.0,15,143162.64,12187.220000,1,5,8,3.0,"Auto Loan, Auto Loan, and Not Specified",...,Good,1303.01,28.616735,17 Years and 9 Months,No,246.992319,168.413703,!@9#%8,1043.315978,Good
17,February,34.0,4,143162.64,12187.220000,1,5,8,3.0,"Auto Loan, Auto Loan, and Not Specified",...,Good,1303.01,41.702573,17 Years and 10 Months,No,246.992319,232.860384,High_spent_Small_value_payments,998.869297,Good
18,March,34.0,15,143162.64,4194.170850,1,5,8,3.0,"Auto Loan, Auto Loan, and Not Specified",...,Good,1303.01,26.519815,17 Years and 11 Months,No,246.992319,10000.000000,High_spent_Small_value_payments,715.741367,Good
19,April,34.0,4,143162.64,12187.220000,1,5,8,3.0,"Auto Loan, Auto Loan, and Not Specified",...,_,1303.01,39.501648,NaN,No,246.992319,825.216270,Low_spent_Medium_value_payments,426.513411,Good