<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/Pietruszkiewicz/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [164]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math
from sklearn.model_selection import train_test_split


df = pd.read_csv("train.csv")
# df.head(100)

<ipython-input-164-c21aa0870d0c>:10: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

In [165]:
df.shape

(100000, 28)

In [166]:
duplicates = df.duplicated(subset=['ID'])
if duplicates.any():
    print("Znaleziono duplikaty w kolumnie 'ID'.")
    print(df[duplicates])
else:
    print("Brak duplikatów w kolumnie 'ID'.")

Brak duplikatów w kolumnie 'ID'.

In [167]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of             ID Customer_ID     Month           Name   Age          SSN  \
0       0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265
1       0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265
2       0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265
3       0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265
4       0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265
...        ...         ...       ...            ...   ...          ...
99995  0x25fe9  CUS_0x942c     April          Nicks    25  078-73-5990
99996  0x25fea  CUS_0x942c       May          Nicks    25  078-73-5990
99997  0x25feb  CUS_0x942c      June          Nicks    25  078-73-5990
99998  0x25fec  CUS_0x942c      July          Nicks    25  078-73-5990
99999  0x25fed  CUS_0x942c    August          Nicks    25  078-73-5990

      Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0      Scientist      19114.12            1824.843333                  3  ...
1      Scientist      19114.12                    NaN                  3  ...
2      Scientist      19114.12                    NaN                  3  ...
3      Scientist      19114.12                    NaN                  3  ...
4      Scientist      19114.12            1824.843333                  3  ...
...          ...           ...                    ...                ...  ...
99995   Mechanic      39628.99            3359.415833                  4  ...
99996   Mechanic      39628.99            3359.415833                  4  ...
99997   Mechanic      39628.99            3359.415833                  4  ...
99998   Mechanic      39628.99            3359.415833                  4  ...
99999   Mechanic     39628.99_            3359.415833                  4  ...

       Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0               _            809.98                26.822620
1            Good            809.98                31.944960
2            Good            809.98                28.609352
3            Good            809.98                31.377862
4            Good            809.98                24.797347
...           ...               ...                      ...
99995           _            502.38                34.663572
99996           _            502.38                40.565631
99997        Good            502.38                41.255522
99998        Good            502.38                33.638208
99999        Good            502.38                34.192463

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0       22 Years and 1 Months                     No           49.574949
1                         NaN                     No           49.574949
2       22 Years and 3 Months                     No           49.574949
3       22 Years and 4 Months                     No           49.574949
4       22 Years and 5 Months                     No           49.574949
...                       ...                    ...                 ...
99995   31 Years and 6 Months                     No           35.104023
99996   31 Years and 7 Months                     No           35.104023
99997   31 Years and 8 Months                     No           35.104023
99998   31 Years and 9 Months                     No           35.104023
99999  31 Years and 10 Months                     No           35.104023

      Amount_invested_monthly                 Payment_Behaviour  \
0           80.41529543900253   High_spent_Small_value_payments
1          118.28022162236736    Low_spent_Large_value_payments
2             81.699521264648   Low_spent_Medium_value_payments
3           199.4580743910713    Low_spent_Small_value_payments
4          41.420153086217326  High_spent_Medium_value_payments
...                       ...                               ...
99995       60.97133255718485   High_spent_Large_value_payments
99996       54.18595028760385  High_spent_Medium_value_payments
99997       24.02847744864441   High_spent_Large_value_payments
99998      251.67258219721603    Low_spent_Large_value_payments
99999       167.1638651610451                            !@9#%8

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
1      284.62916249607184         Good
2       331.2098628537912         Good
3      223.45130972736786         Good
4      341.48923103222177         Good
...                   ...          ...
99995          479.866228         Poor
99996           496.65161         Poor
99997          516.809083         Poor
99998          319.164979     Standard
99999          393.673696         Poor

[100000 rows x 28 columns]>

In [168]:
FeaturesToConvert = ['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']

for feature in FeaturesToConvert:
   df[feature] = df[feature].str.strip('-_')

for feature in FeaturesToConvert:
   df[feature] = df[feature].replace({'':np.nan})

for feature in FeaturesToConvert:
   df[feature] = df[feature].astype('float64')

In [169]:
df['Monthly_Inhand_Salary']= df['Monthly_Inhand_Salary'].fillna(method='pad')
df['ID'] = df['ID'].fillna('Brak informacji')
df['Customer_ID'] = df['Customer_ID'].fillna('Brak informacji')
df['Month'] = df['Month'].fillna('Brak informacji')
df['Name'] = df['Name'].fillna('Nieznane')
age_mean = df[(df['Age'] <= 100) & (df['Age'] >= 1)]['Age'].mean()
df['Age'] = df['Age'].fillna(age_mean)
df.loc[df['Age'] >= 100, 'Age'] = age_mean
df.loc[df['Age'] < 1, 'Age'] = age_mean
df['SSN'] = df['SSN'].fillna('Brak informacji')
df['Occupation'] = df['Occupation'].fillna('Brak informacji')
df['Annual_Income'] = df['Annual_Income'].fillna(method='pad')
df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].fillna(0)
df['Num_Credit_Card'] = df['Num_Credit_Card'].fillna(0)
df['Interest_Rate'] = df['Interest_Rate'].fillna(0)
df['Num_of_Loan'] = df['Num_of_Loan'].fillna(0)
df['Type_of_Loan'] = df['Type_of_Loan'].fillna('Nieokreślony')
df['Delay_from_due_date'] = df['Delay_from_due_date'].fillna(0)
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna(0)
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].fillna(0)
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(0)
df['Credit_Mix'] = df['Credit_Mix'].fillna('Nieznane')
df['Outstanding_Debt'] = df['Outstanding_Debt'].fillna(0)
df['Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].fillna(0)
df['Credit_History_Age'] = df['Credit_History_Age'].fillna('Brak historii kredytowej')
df['Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].fillna('Brak informacji')
df['Total_EMI_per_month'] = df['Total_EMI_per_month'].fillna(method='pad')
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].fillna(method='pad')
df['Payment_Behaviour'] = df['Payment_Behaviour'].fillna('Brak informacji')
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(method='pad')
df['Credit_Score'] = df['Credit_Score'].fillna('Brak informacji')

In [170]:
# tworzymy obiekt encodera czyli po prostu tworzymy nowy obiekt klasy LabelEncoder(ktora jest zdefiniowana w kodzie biblioteki) ktory przypisujemy do zmiennej le
# dokumentacja Encodera - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# kod klasy LabelEncoder - https://github.com/scikit-learn/scikit-learn/blob/5c4aa5d0d/sklearn/preprocessing/_label.py#L34
le = LabelEncoder()

# Jako przykład zakodujmy wartości dla kolumny Age, zwrócone zostają wartości zakodowane (dla ambitnych podrzucam kod funkcji i kod funkcji wykorzystywanej w fit_transform https://github.com/scikit-learn/scikit-learn/blob/5c4aa5d0d/sklearn/preprocessing/_label.py#L101  https://github.com/scikit-learn/scikit-learn/blob/5c4aa5d0d90ba66247d675d4c3fc2fdfba3c39ff/sklearn/utils/_encode.py#L10)
df.Age = le.fit_transform(df.Age)
# kodowanie dla kilku kolumn odbywa sie podobnie tylko najpierw musimy zadefiniowac tablice z nazwami kolumn które mają przejść transformację
# dałam tylko kilka dla przykładu działania
columns_to_code = ['Occupation','Annual_Income','Monthly_Balance', 'Credit_Score']

# dzięki apply możemy za jednym wywołaniem kodu wykonać daną operację na każdym elemencie z listy
df[columns_to_code] = df[columns_to_code].apply(LabelEncoder().fit_transform)

In [171]:
def convert_to_years(text):
    if isinstance(text, str):
        parts = text.split()
        if parts[0].isdigit() and parts[3].isdigit():  # Sprawdzenie czy pierwszy i czwarty element jest liczbą
            year = int(parts[0])
            month = int(parts[3])
            credit_age_numeric = year + month / 12
            return credit_age_numeric
        else:
            return None  # Zwrócenie None dla niepoprawnych wartości
    else:
        return text

df["Credit_History_Age"] = df["Credit_History_Age"].apply(lambda x: convert_to_years(x))

In [173]:
df['Credit_History_Age'].head()

0    22.083333
1     0.000000
2    22.250000
3    22.333333
4    22.416667
Name: Credit_History_Age, dtype: float64

In [172]:
df["Credit_History_Age"] = df["Credit_History_Age"].fillna(0)
df["Credit_History_Age"] = df["Credit_History_Age"].astype(float)
df.head(50)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,9,821-00-0265,12,3021,1824.843333,3,...,_,809.98,26.822620,22.083333,No,49.574949,80.415295,High_spent_Small_value_payments,40780,0
1,0x1603,CUS_0xd40,February,Aaron Maashoh,9,821-00-0265,12,3021,1824.843333,3,...,Good,809.98,31.944960,0.000000,No,49.574949,118.280222,Low_spent_Large_value_payments,30114,0
2,0x1604,CUS_0xd40,March,Aaron Maashoh,20,821-00-0265,12,3021,1824.843333,3,...,Good,809.98,28.609352,22.250000,No,49.574949,81.699521,Low_spent_Medium_value_payments,46907,0
3,0x1605,CUS_0xd40,April,Aaron Maashoh,9,821-00-0265,12,3021,1824.843333,3,...,Good,809.98,31.377862,22.333333,No,49.574949,199.458074,Low_spent_Small_value_payments,10564,0
4,0x1606,CUS_0xd40,May,Aaron Maashoh,9,821-00-0265,12,3021,1824.843333,3,...,Good,809.98,24.797347,22.416667,No,49.574949,41.420153,High_spent_Medium_value_payments,50026,0
5,0x1607,CUS_0xd40,June,Aaron Maashoh,9,821-00-0265,12,3021,1824.843333,3,...,Good,809.98,27.262259,22.500000,No,49.574949,62.430172,!@9#%8,49746,0
6,0x1608,CUS_0xd40,July,Aaron Maashoh,9,821-00-0265,12,3021,1824.843333,3,...,Good,809.98,22.537593,22.583333,No,49.574949,178.344067,Low_spent_Small_value_payments,15406,0
7,0x1609,CUS_0xd40,August,Nieznane,9,#F%$D@*&8,12,3021,1824.843333,3,...,Good,809.98,23.933795,0.000000,No,49.574949,24.785217,High_spent_Medium_value_payments,54252,2
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,14,004-07-5839,15,5812,3037.986667,2,...,Good,605.03,24.464031,26.583333,No,18.816215,104.291825,Low_spent_Small_value_payments,72958,2
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,14,004-07-5839,13,5812,3037.986667,2,...,Good,605.03,38.550848,26.666667,No,18.816215,40.391238,High_spent_Large_value_payments,74387,0
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,14,004-07-5839,13,5812,3037.986667,2,...,_,605.03,33.224951,26.750000,No,18.816215,58.515976,High_spent_Large_value_payments,72466,2
11,0x1611,CUS_0x21b1,April,Rick Rothackerj,14,004-07-5839,13,5812,3037.986667,2,...,Good,605.03,39.182656,26.833333,No,18.816215,99.306228,Low_spent_Medium_value_payments,72377,0
12,0x1612,CUS_0x21b1,May,Rick Rothackerj,14,004-07-5839,13,5812,3037.986667,2,...,Good,605.03,34.977895,26.916667,No,18.816215,130.115420,Low_spent_Small_value_payments,69827,0
13,0x1613,CUS_0x21b1,June,Rick Rothackerj,14,004-07-5839,13,5812,3037.986667,2,...,Good,605.03,33.381010,27.000000,No,18.816215,43.477190,High_spent_Large_value_payments,74090,0
14,0x1614,CUS_0x21b1,July,Rick Rothackerj,14,004-07-5839,13,5812,3037.986667,2,...,Good,605.03,31.131702,27.083333,NM,18.816215,70.101774,High_spent_Medium_value_payments,72302,0
15,0x1615,CUS_0x21b1,August,Rick Rothackerj,14,004-07-5839,13,5812,3037.986667,2,...,Good,605.03,32.933856,27.166667,No,18.816215,218.904344,Low_spent_Small_value_payments,53731,0
16,0x161a,CUS_0x2dbc,January,Langep,21,486-85-3974,15,12134,12187.220000,1,...,Good,1303.01,28.616735,17.750000,No,246.992319,168.413703,!@9#%8,95326,0
17,0x161b,CUS_0x2dbc,February,Nieznane,21,486-85-3974,4,12134,12187.220000,1,...,Good,1303.01,41.702573,17.833333,No,246.992319,232.860384,High_spent_Small_value_payments,94771,0
18,0x161c,CUS_0x2dbc,March,Langep,21,486-85-3974,15,12134,12187.220000,1,...,Good,1303.01,26.519815,17.916667,No,246.992319,10000.000000,High_spent_Small_value_payments,87745,0
19,0x161d,CUS_0x2dbc,April,Langep,21,486-85-3974,4,12134,12187.220000,1,...,_,1303.01,39.501648,0.000000,No,246.992319,825.216270,Low_spent_Medium_value_payments,67218,0
20,0x161e,CUS_0x2dbc,May,Langep,21,486-85-3974,15,12134,12187.220000,1,...,Good,1303.01,31.376150,18.083333,No,246.992319,430.947528,Low_spent_Large_value_payments,90829,0
21,0x161f,CUS_0x2dbc,June,Langep,21,486-85-3974,4,12134,12187.220000,1,...,Good,1303.01,39.783993,18.166667,No,246.992319,257.808099,High_spent_Medium_value_payments,94226,0
22,0x1620,CUS_0x2dbc,July,Nieznane,21,486-85-3974,4,12134,12187.220000,1,...,Good,1303.01,38.068624,18.250000,No,246.992319,263.174163,High_spent_Small_value_payments,94307,2
23,0x1621,CUS_0x2dbc,August,Langep,21,486-85-3974,4,12134,12187.220000,1,...,Good,1303.01,38.374753,18.333333,No,246.992319,10000.000000,High_spent_Small_value_payments,92984,2
24,0x1626,CUS_0xb891,January,Jasond,41,072-31-6145,5,4938,2612.490833,2,...,Good,632.46,26.544229,17.250000,No,16.415452,81.228859,Low_spent_Large_value_payments,68277,2
25,0x1627,CUS_0xb891,February,Jasond,41,072-31-6145,5,4938,2612.490833,2,...,Good,632.46,35.279982,17.333333,No,16.415452,124.881820,Low_spent_Small_value_payments,64578,2
26,0x1628,CUS_0xb891,March,Jasond,42,072-31-6145,5,4938,2612.490833,2,...,Good,632.46,32.301163,17.416667,NM,16.415452,83.406509,High_spent_Medium_value_payments,64838,2
27,0x1629,CUS_0xb891,April,Jasond,42,072-31-6145,5,4938,2612.490833,2,...,Good,632.46,38.132348,17.500000,No,16.415452,272.334037,Low_spent_Small_value_payments,21343,2
28,0x162a,CUS_0xb891,May,Jasond,42,072-31-6145,5,4938,2612.490833,2,...,Good,632.46,41.154317,17.583333,No,16.415452,10000.000000,Low_spent_Large_value_payments,54597,2
29,0x162b,CUS_0xb891,June,Jasond,42,#F%$D@*&8,15,4938,2612.490833,2,...,_,632.46,27.445422,17.666667,No,16.415452,84.952848,High_spent_Small_value_payments,66191,2
30,0x162c,CUS_0xb891,July,Jasond,42,072-31-6145,5,4938,2612.490833,2,...,Good,632.46,26.056395,17.750000,No,16.415452,71.283675,Low_spent_Large_value_payments,69646,2
31,0x162d,CUS_0xb891,August,Jasond,42,072-31-6145,5,4938,2612.490833,2,...,Good,632.46,27.332515,17.833333,No,16.415452,125.617251,High_spent_Small_value_payments,59048,2
32,0x1632,CUS_0x1cdb,January,Deepaa,7,615-06-7821,2,5968,2853.309167,7,...,Standard,943.86,39.797764,30.666667,Yes,0.000000,276.725394,!@9#%8,31772,2
33,0x1633,CUS_0x1cdb,February,Deepaa,7,615-06-7821,2,5968,2853.309167,7,...,Standard,943.86,27.020360,30.750000,NM,0.000000,74.443641,High_spent_Medium_value_payments,71841,2
34,0x1634,CUS_0x1cdb,March,Deepaa,7,615-06-7821,2,5968,2853.309167,7,...,Standard,943.86,23.462303,30.833333,Yes,0.000000,173.138651,Low_spent_Medium_value_payments,61574,2
35,0x1635,CUS_0x1cdb,April,Deepaa,7,615-06-7821,2,5968,2853.309167,7,...,_,943.86,28.924954,30.916667,Yes,0.000000,96.785485,High_spent_Medium_value_payments,68937,2
36,0x1636,CUS_0x1cdb,May,Deepaa,7,615-06-7821,2,5968,2853.309167,7,...,_,943.86,41.776187,31.000000,Yes,0.000000,62.723278,High_spent_Small_value_payments,74188,2
37,0x1637,CUS_0x1cdb,June,Deepaa,7,615-06-7821,2,5968,2853.309167,7,...,Standard,943.86,29.217556,31.083333,Yes,0.000000,37.643638,High_spent_Medium_value_payments,75669,2
38,0x1638,CUS_0x1cdb,July,Deepaa,7,615-06-7821,2,5968,2853.309167,7,...,Standard,943.86,26.263823,31.166667,Yes,0.000000,181.011983,Low_spent_Small_value_payments,61910,2
39,0x1639,CUS_0x1cdb,August,Deepaa,7,615-06-7821,2,5968,2853.309167,7,...,Standard,943.86,25.862922,31.250000,Yes,0.000000,181.330901,High_spent_Small_value_payments,55665,2
40,0x163e,CUS_0x95ee,January,Np,17,612-70-8987,7,9559,2853.309167,4,...,Good,548.20,39.962685,0.000000,No,15015.000000,98.674410,High_spent_Large_value_payments,88647,0
41,0x163f,CUS_0x95ee,February,Np,17,612-70-8987,15,9559,5988.705000,4,...,Good,548.20,42.769864,32.000000,NM,0.000000,172.939214,Low_spent_Medium_value_payments,87362,0
42,0x1640,CUS_0x95ee,March,Np,17,612-70-8987,7,9559,5988.705000,4,...,Good,548.20,40.712187,0.000000,No,0.000000,150.059734,High_spent_Medium_value_payments,87071,0
43,0x1641,CUS_0x95ee,April,Np,17,612-70-8987,7,9559,5988.705000,4,...,Good,548.20,30.201658,32.166667,No,0.000000,618.202391,Low_spent_Small_value_payments,24544,0
44,0x1642,CUS_0x95ee,May,Np,17,612-70-8987,7,9559,5988.705000,4,...,_,548.20,26.333310,32.250000,No,0.000000,177.951836,Low_spent_Large_value_payments,86778,0
45,0x1643,CUS_0x95ee,June,Np,17,612-70-8987,7,9559,5988.705000,4,...,Good,548.20,35.275437,0.000000,No,15515.000000,235.790325,Low_spent_Large_value_payments,84183,0
46,0x1644,CUS_0x95ee,July,Np,17,612-70-8987,7,9559,5988.705000,4,...,_,548.20,36.624791,32.416667,No,0.000000,348.509400,High_spent_Small_value_payments,76715,2
47,0x1645,CUS_0x95ee,August,Np,17,612-70-8987,7,9559,5988.705000,4,...,Good,548.20,31.580990,32.500000,No,0.000000,42.635590,!@9#%8,90433,0
48,0x164a,CUS_0x284a,January,Nadiaq,19,411-51-0676,7,11890,11242.783333,0,...,Good,352.16,32.200509,30.583333,NM,137.644605,378.171254,High_spent_Medium_value_payments,92163,0
49,0x164b,CUS_0x284a,February,Nadiaq,21,411-51-0676,7,11890,11242.783333,0,...,Good,352.16,31.983710,30.666667,No,137.644605,698.873271,High_spent_Small_value_payments,79416,0

In [183]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
col_float = ['Age',
             'Annual_Income',
             'Delay_from_due_date',
             'Num_of_Delayed_Payment',
             'Outstanding_Debt',
             'Credit_History_Age',
             'Total_EMI_per_month',
             'Monthly_Balance']

for i in col_float:
    df[i] = scaler.fit_transform(df[[i]])

# df.head()

In [185]:
# Drop outlier by IQR calculation
Q1 = df['Annual_Income'].quantile(0.25)
Q3 = df['Annual_Income'].quantile(0.75)
IQR = Q3 - Q1
df_cleaned = df.drop(df.loc[df['Annual_Income'] > (Q3 + 1.5 * IQR)].index)
df_cleaned = df.drop(df.loc[df['Annual_Income'] < (Q1 - 1.5 * IQR)].index)

In [186]:
from sklearn.model_selection import train_test_split