<a href="https://colab.research.google.com/github/UEPP40/PUM/blob/hreczany/05/03/24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import math
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split

In [60]:
df = pd.read_csv('/train.csv')
print(df.head)
print(df.size)
df.drop_duplicates
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('Int64')
df['Month'] = pd.to_numeric(df['Month'], errors='coerce').astype('string')
df['Annual_Income'] = df['Annual_Income'].apply(lambda x: x.rstrip('_') if x.endswith('_') else x)
df['Annual_Income'] = df['Annual_Income'].str.rstrip('-')
df['Annual_Income'] = pd.to_numeric(df['Annual_Income'], errors='coerce').astype('float64')
df['Num_of_Loan'] = pd.to_numeric(df['Num_of_Loan'], errors='coerce').astype('Int64')
df['Num_of_Delayed_Payment'] = pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce').astype('Int64')
df['Changed_Credit_Limit'] = pd.to_numeric(df['Changed_Credit_Limit'], errors='coerce').astype('float64')
df['Outstanding_Debt'] = pd.to_numeric(df['Outstanding_Debt'], errors='coerce').astype('float64')
df['Amount_invested_monthly'] = pd.to_numeric(df['Amount_invested_monthly'], errors='coerce').astype('float64')
df['Monthly_Balance'] = pd.to_numeric(df['Monthly_Balance'], errors='coerce').astype('float64')

czy_puste_wartosci_w_kolumnach = df.isnull().any()
print(czy_puste_wartosci_w_kolumnach)

df['Age'] = df['Age'].fillna(df['Age'].mean().round())

FeaturesToConvert = ['Age',
'Annual_Income'
,
'Num_of_Loan'
,
'Num_of_Delayed_Payment'
,
'Changed_Credit_Limit'
,
'Outstanding_Debt'
,
'Amount_invested_monthly'
,
'Monthly_Balance']

for feature in FeaturesToConvert:
  df[feature] = df[feature].replace({'':np.nan})

df['Monthly_Inhand_Salary']=df['Monthly_Inhand_Salary'].fillna(method='pad')

df.drop(columns = ["ID", "Customer_ID", "Name", "SSN"])

<ipython-input-60-194d98558a6b>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/train.csv')

<bound method NDFrame.head of             ID Customer_ID     Month           Name   Age          SSN  \
0       0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265
1       0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265
2       0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265
3       0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265
4       0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265
...        ...         ...       ...            ...   ...          ...
99995  0x25fe9  CUS_0x942c     April          Nicks    25  078-73-5990
99996  0x25fea  CUS_0x942c       May          Nicks    25  078-73-5990
99997  0x25feb  CUS_0x942c      June          Nicks    25  078-73-5990
99998  0x25fec  CUS_0x942c      July          Nicks    25  078-73-5990
99999  0x25fed  CUS_0x942c    August          Nicks    25  078-73-5990

      Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0      Scientist      19114.12            1824.843333                  3  ...
1      Scientist      19114.12                    NaN                  3  ...
2      Scientist      19114.12                    NaN                  3  ...
3      Scientist      19114.12                    NaN                  3  ...
4      Scientist      19114.12            1824.843333                  3  ...
...          ...           ...                    ...                ...  ...
99995   Mechanic      39628.99            3359.415833                  4  ...
99996   Mechanic      39628.99            3359.415833                  4  ...
99997   Mechanic      39628.99            3359.415833                  4  ...
99998   Mechanic      39628.99            3359.415833                  4  ...
99999   Mechanic     39628.99_            3359.415833                  4  ...

       Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0               _            809.98                26.822620
1            Good            809.98                31.944960
2            Good            809.98                28.609352
3            Good            809.98                31.377862
4            Good            809.98                24.797347
...           ...               ...                      ...
99995           _            502.38                34.663572
99996           _            502.38                40.565631
99997        Good            502.38                41.255522
99998        Good            502.38                33.638208
99999        Good            502.38                34.192463

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0       22 Years and 1 Months                     No           49.574949
1                         NaN                     No           49.574949
2       22 Years and 3 Months                     No           49.574949
3       22 Years and 4 Months                     No           49.574949
4       22 Years and 5 Months                     No           49.574949
...                       ...                    ...                 ...
99995   31 Years and 6 Months                     No           35.104023
99996   31 Years and 7 Months                     No           35.104023
99997   31 Years and 8 Months                     No           35.104023
99998   31 Years and 9 Months                     No           35.104023
99999  31 Years and 10 Months                     No           35.104023

      Amount_invested_monthly                 Payment_Behaviour  \
0           80.41529543900253   High_spent_Small_value_payments
1          118.28022162236736    Low_spent_Large_value_payments
2             81.699521264648   Low_spent_Medium_value_payments
3           199.4580743910713    Low_spent_Small_value_payments
4          41.420153086217326  High_spent_Medium_value_payments
...                       ...                               ...
99995       60.97133255718485   High_spent_Large_value_payments
99996       54.18595028760385  High_spent_Medium_value_payments
99997       24.02847744864441   High_spent_Large_value_payments
99998      251.67258219721603    Low_spent_Large_value_payments
99999       167.1638651610451                            !@9#%8

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
1      284.62916249607184         Good
2       331.2098628537912         Good
3      223.45130972736786         Good
4      341.48923103222177         Good
...                   ...          ...
99995          479.866228         Poor
99996           496.65161         Poor
99997          516.809083         Poor
99998          319.164979     Standard
99999          393.673696         Poor

[100000 rows x 28 columns]>
2800000
ID                          False
Customer_ID                 False
Month                        True
Name                         True
Age                          True
SSN                         False
Occupation                  False
Annual_Income               False
Monthly_Inhand_Salary        True
Num_Bank_Accounts           False
Num_Credit_Card             False
Interest_Rate               False
Num_of_Loan                  True
Type_of_Loan                 True
Delay_from_due_date         False
Num_of_Delayed_Payment       True
Changed_Credit_Limit         True
Num_Credit_Inquiries         True
Credit_Mix                  False
Outstanding_Debt             True
Credit_Utilization_Ratio    False
Credit_History_Age           True
Payment_of_Min_Amount       False
Total_EMI_per_month         False
Amount_invested_monthly      True
Payment_Behaviour           False
Monthly_Balance              True
Credit_Score                False
dtype: bool

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,<NA>,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,<NA>,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,<NA>,-500,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,<NA>,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,<NA>,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,<NA>,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.971333,High_spent_Large_value_payments,479.866228,Poor
99996,<NA>,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.185950,High_spent_Medium_value_payments,496.651610,Poor
99997,<NA>,25,Mechanic,39628.99,3359.415833,4,6,5729,2,"Auto Loan, and Student Loan",...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor
99998,<NA>,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.672582,Low_spent_Large_value_payments,319.164979,Standard
99999,<NA>,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.163865,!@9#%8,393.673696,Poor